*{
	margin: 0;
	padding: 0;
}
body{
	background: #f1f1f1;
}
.top{
	width: 100%;
	height: 130px;
	background: #05a2ef;
	overflow: hidden;
	text-align: center;
	
}
.top .time{
	color: white;
	margin-top: 5px;
	font-size: 16px;
}
.top p {
	color: white;
	margin-top: 5px;	
	font-size: 20px;
}
.openhole,.closehole{
	font-size:30px;
	color: white;
	margin-top: 10px;
}
/*=========内容===========*/
.con{
	width: 95%;
	margin: 20px auto;
	background: white;
	border-radius: 10px;
}
.weui-navbar__item.weui-bar__item--on{
	background: white;
}
.list{
	width: 90%;
	height: 100%;
	margin: 10px auto;
	background: white;
}
.list a{
	color: #000000;
}
.weui-cell:before{
	border-top: none;
}
.weui-cell{	
	margin: 10px 0;
	border-bottom: 1px solid #e6e6e6;
}
.weui-cell__ft{
	color: #38aacf;
	font-family: "微软雅黑";
}
